#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  outline: none !important;
}

htm, body {
  font-size: 12px !important;
}


.App {
  margin: 80px auto;
  max-width: 600px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
  border-radius: 0.5rem;
}
